*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

/*work in progress*/
body{
    background-image: url(Dog_Breeds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 48em;
}
nav {
    text-align: right;  
    margin-top: 0.5em;
    position: sticky;
    top:0em;
}

ul li {
    display: inline;
    cursor: pointer;
}
li a {
    color: rgb(17, 0, 173);
    font-size: 1.7em;
    text-decoration: none;
    margin-right: 0.7em;
    font-family: "futura-pt";
}
h1, h2, h3 {
    font-size: 3.5em;
    color: rgb(0, 113, 241);
    position:absolute;
    text-align:center;
    font-family: "futura-pt";
    width:100%;
    bottom:0.5em;
}
h1{
    opacity: 0.5;
}
h2, h3 {
    font-size: 2.5em;
    bottom:3em;
}
h3 {
   bottom:2em;
}
#enter{
    font-family: "futura-pt";
    font-size: 3.5em;
    cursor: pointer;
    color: rgb(17, 0, 173);
}
#button {
    position:absolute;
    width:100%;
    bottom:5.5em;
    text-align:center;
}
#aboutus {
    color: rgb(28, 104, 167);
    text-align: center;
    font-family: "futura-pt";
}

#aboutem{
    color: rgb(28, 104, 167);
    text-align: center;
    padding: 3em;
    font-family: "futura-pt";
}
