*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

/*work in progress*/
.container1 {
    background-image: url(dogofundal2.jpg);
    background-repeat: no-repeat;
    background-size: 550px;
    background-position: center;
    height: 48em;
    background-color: rgb(32, 10, 10);
    background-color: rgb(33, 37, 41);
}
.animate__animated.animate__heartBeat {
    --animate-duration: 5s;
    animation-iteration-count: infinite;
    
}

nav {
    text-align: right;  
    margin-top: 0.5em;
    position: sticky;
    top:0;
}

ul li {
    display: inline;
    cursor: pointer;
}
li a {
    color: rgb(204, 154, 6);
    font-size: 1.7em;
    text-decoration: none;
    font-family: "futura-pt";
    margin-right: 1.5em;
    transition-duration: 1s;
    display: inline-block;
}
h1, h2, h3 {
    font-size: 5em;
    font-weight: 900;
    color: rgb(204, 154, 6);
    position:absolute;
    text-align:center;
    font-family: "futura-pt";
    width:100%;
    bottom: -1.6em;
}
h6{
    font-size: 5em;
    font-weight: 900;
    color: rgb(204, 154, 6);
    position:absolute;
    text-align:center;
    font-family: "futura-pt";
    width:100%;
    bottom: 6em;
}
h1{
    opacity: 0.7;
 
}
h2, h3 {
    font-size: 2.5em;
    bottom:5em;
    color: rgba(12,12,224,1);
}
h3 {
   bottom: 2.5em;
}
h5 {
    text-align: center;
}
p{
    font-size: 1.2em;
    position:absolute;
    text-align:center;
    font-family: "futura-pt";
    width:100%;
    bottom: 17em;  
    padding: 1em;

}
#enter{
    font-family: "futura-pt";
    font-size: 3em;
    cursor: pointer;
    color: rgb(255, 193, 7);
    text-decoration: none;
}
#button {
    position:absolute;
    width:100%;
    text-align:center;
    /*top: 10em;*/
    bottom: -3em;
}
#aboutus {
    color: rgb(28, 104, 167);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(184, 186, 187);
    height: 100vh;
}

#aboutem{
    color: rgb(28, 104, 167);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(184, 186, 187);
    height: 100vh;
}

#container2{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    height: 100%;
}
.dropdown-toggle::after {
    display: none;
    position: sticky;
    

}

.navbar-collapse {
    justify-content: flex-end;
    
  
}
.col {
    margin-bottom: 2em;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    cursor: pointer;
}
/*alternativa hover
img:hover{
    transform: scale(1.2);*/
.card:hover{
    transform: scale(1.2);
}
.collapse{
    background-color: hsl(29, 100%, 50%);
}
.dropdown-menu {
    background-color: hsl(44, 83%, 60%);
}
.navbar{
    position: sticky;
    z-index: 1;
}
.add-to-cart {
    border: 1px solid hsl(10, 62%, 28%);
    padding: 6px 26px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(10, 62%, 28%);
    text-transform: uppercase;
    float: right;
    margin: 5px 0;
    font-weight: bold;
    cursor: pointer;
}
/*
.like-button {
    font-size: 2.5em;
    cursor: pointer;
    padding-right: 0.6em;
    position: sticky;
    float: left;
    
}
    
.like-button::before {
      font-size: 2em;
      color: hsl(0, 0%, 0%);
      content: '♥';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .like-button::after {
      font-size: 2.2em;
      color: red;
      content: '♥';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: 0.2s;
    }
    .like-button.liked::after {
      transform: translate(-50%, -50%) ;
    }
    footer {
        background-color: hsl(182, 82%, 37%);
        text-align: center;
        text-transform:capitalize;
        padding: 0.7em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
        }
*/
.likeBtn {
    float: left;
    border: 1px solid hsl(10, 62%, 28%);
    padding: 6px 14px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(10, 62%, 28%);
    text-transform: uppercase;
    margin: 5px 0;
    font-weight: bold;
    cursor: pointer;

}