*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

/*work in progress*/
.container1 {
    background-image: url(Dog_Breeds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 48em;
}
.animate__animated.animate__heartBeat {
    --animate-duration: 5s;
    animation-iteration-count: infinite;
    
}

nav {
    text-align: right;  
    margin-top: 0.5em;
    position: sticky;
    top:0;
}

ul li {
    display: inline;
    cursor: pointer;
}
li a {
    color: rgba(12,12,224,1);
    font-size: 1.7em;
    text-decoration: none;
    margin-right: 0.7em;
    font-family: "futura-pt";
}
h1, h2, h3 {
    font-size: 5em;
    font-weight: 7em;
    color: rgb(0, 144, 240);
    position:absolute;
    text-align:center;
    font-family: "futura-pt";
    width:100%;
    bottom: 0.2em;
}
h1{
    opacity: 0.7;
}
h2, h3 {
    font-size: 2.5em;
    bottom:7em;
    color: rgba(12,12,224,1);
}
h3 {
   bottom:6em;
}
h5 {
    text-align: center;
}
#enter{
    font-family: "futura-pt";
    font-size: 4em;
    cursor: pointer;
    color: rgba(12,12,224,1);
    text-decoration: none;
}
#button {
    position:absolute;
    width:100%;
    bottom:5.5em;
    text-align:center;
}
#aboutus {
    color: rgb(28, 104, 167);
    text-align: center;
    font-family: "futura-pt";
    background-color: rgb(184, 186, 187);
    height: 100vh;
}

#aboutem{
    color: rgb(28, 104, 167);
    text-align: center;
    font-family: "futura-pt";
    background-color: rgb(184, 186, 187);
    height: 100vh;
}

#container2{
    background: rgb(24,29,164);
    background: linear-gradient(101deg, rgba(24,29,164,1) 0%, rgba(18,236,98,1) 87%, rgba(0,107,0,1) 100%);
    height: 100%;
    position: sticky;



}
.dropdown-toggle::after {
    display: none;

}

.navbar-collapse {
    justify-content: flex-end;
}
